@model Eproject.Models.viewCaterer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<h1>Edit</h1>

<h4>Caterer</h4>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}
@if (TempData["sizeErr"] != null)
{
    <div class="alert alert-danger">@TempData["sizeErr"]</div>
}
@if (TempData["extError"] != null)
{
    <div class="alert alert-danger">@TempData["extError"]</div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatererId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeople" class="control-label"></label>
                <input asp-for="MaxPeople" class="form-control" />
                <span asp-validation-for="MaxPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerPerson" class="control-label"></label>
                <input asp-for="PricePerPerson" class="form-control" />
                <span asp-validation-for="PricePerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Food Types</label>
                <div>
                    @foreach (var foodType in ViewBag.FoodTypes as List<Eproject.Models.Foodtype>)
                    {
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="FoodType_@foodType.FoodTypeId"
                                       name="selectedFoodTypeIds" value="@foodType.FoodTypeId" />
                                <label class="form-check-label" for="FoodType_@foodType.FoodTypeId">@foodType.FoodTypeName</label>
                            </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


