@model IEnumerable<Eproject.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-controller="Menu" asp-action="Index">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Search Products" aria-label="search" />
            <button class="btn btn-dark" type="submit">Search Menu By Name</button>
        </form>
    </div>
    <div class="col-md-6">
            <a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Back To List</a>
    </div>
    </div>
<p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
              <img src="~/Images/@Html.DisplayFor(modelItem => item.imagePath)" Style="width:50px;height:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MenuItemId">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MenuItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
